<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
<aside th:fragment="sidebar" class="sidebar">
  <div>
    <h3><i class="fa-solid fa-car-side"></i> <span>Concesionario</span></h3>
    <ul>
      <li>
        <a th:href="@{/gerente}">
          <i class="fa-solid fa-house"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a th:href="@{/clima}">
          <i class="fa-solid fa-cloud-sun"></i>
          <span>Clima</span>
        </a>
      </li>
      <li>
        <a th:href="@{/gerente/inventario}">
          <i class="fa-solid fa-warehouse"></i>
          <span>Inventario</span>
        </a>
      </li>
      <li>
        <a th:href="@{/gerente/vehiculos}">
          <i class="fa-solid fa-car"></i>
          <span>Vehículos</span>
        </a>
      </li>
      <li>
        <a th:href="@{/gerente/novedades}">
          <i class="fa-solid fa-triangle-exclamation"></i>
          <span>Novedades</span>
        </a>
      </li>
      <li>
        <a th:href="@{/correo/inbox}">
          <i class="fa-solid fa-envelope"></i>
          <span>Correo
            <span th:if="${unreadCount != null and unreadCount > 0}"
                  th:text="'(' + ${unreadCount} + ')'"></span>
          </span>
        </a>
      </li>
      <li>
        <a th:href="@{/gerente/clientes/interesados}">
          <i class="fa-solid fa-users"></i>
          <span>Interesados</span>
        </a>
      </li>
    </ul>
  </div>
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="logout-btn">
      <i class="fas fa-sign-out-alt"></i>
      <span>Cerrar sesión</span>
    </button>
  </form>
</aside>
</body>
</html>
